/* SCSS COLOR */
/* SCSS HEX */
/* SCSS HEX */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:root {
  color: #0b090aff;
  font-size: 62.5%;
  font-weight: 200;
  line-height: 1.5;
  --text: 'Commissioner', sans-serif;
  --heading: 'Petrona', serif; }

.m {
  margin: 1rem; }

.mt {
  margin-top: 3rem; }

.mb {
  margin-bottom: 3rem; }

.gallery {
  background-color: #a4161aff;
  display: grid;
  width: 60vw;
  height: 40vh; }
  .gallery__photo {
    width: 100%; }
