/* light shades */
/* red shades */
/* black shades */
@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(3rem); }
  to {
    opacity: 1;
    transform: translateY(0); } }

:root {
  color: #f5f3f4ff;
  font-size: 62.5%;
  --text: 'Commissioner', sans-serif;
  --heading: 'Petrona', serif; }

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #eb8f8f;
  font-family: var(--text);
  font-size: 1.7rem;
  font-weight: 200;
  line-height: 1.5; }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(4, max-content);
  row-gap: 1rem; }

.heading, .heading-primary, .heading-secondary, .heading-tertiary {
  color: #f5f3f4ff;
  font-family: var(--heading);
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase; }

.heading-primary {
  font-size: 4.5rem; }
  @media only screen and (min-width: 43.75em) {
    .heading-primary {
      font-size: 5rem; } }

.heading-secondary {
  font-size: 2.3rem;
  padding-top: 1rem; }

.heading-tertiary {
  font-size: 1.8rem;
  text-transform: capitalize; }

.m {
  margin: 1rem; }

.mt {
  margin-top: 3rem; }

.mb {
  margin-bottom: 3rem; }

.gallery {
  background-color: #641220ff;
  display: grid;
  width: 60vw;
  height: 40vh; }
  .gallery__photo {
    width: 100%; }

.contact {
  background-color: #d3d3d3ff;
  clip-path: polygon(0 0, 50% 3.5%, 100% 0, 100% 98%, 50% 100%, 0 98%);
  padding: 9rem 2.5rem; }
  @media only screen and (min-width: 28.125em) {
    .contact {
      padding: 9rem 6rem; } }
  @media only screen and (min-width: 37.5em) {
    .contact {
      padding: 9rem 8rem; } }
  .contact__form {
    background-color: #641220ff;
    border-radius: .3rem;
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 auto;
    max-width: 55rem;
    padding: 3rem 1.2rem;
    position: relative; }
  .contact__label {
    color: #ffffffff;
    display: inline-block;
    padding: 1rem 1.2rem;
    width: 100%;
    transition: all 300ms ease-out; }
  .contact__input:placeholder-shown + label,
  .contact__textarea:placeholder-shown + label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .contact__input, .contact__textarea {
    background-color: #f1f3de;
    border: none;
    border-radius: .4rem;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin-top: .4rem;
    padding: 1.2rem;
    width: 100%; }
  .contact__textarea {
    margin-bottom: 1.5rem; }
  .contact__input:focus, .contact__textarea:focus {
    background-color: #f5f3f4ff;
    border: 1.4px solid #36db36;
    outline: none; }
  .contact__input::placeholder, .contact__textarea::placeholder {
    color: #ec0101; }
  .contact__input:invalid, .contact__textarea:invalid {
    border: 0.5px solid #eb8f8f; }
  .contact__button {
    background-color: #da1e37ff;
    border: none;
    border-radius: 50rem;
    box-shadow: 0 0.7rem 1rem rgba(22, 26, 29, 0.5);
    color: #f5f3f4ff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.7rem;
    padding: 1.3rem 2rem;
    margin: 0 auto;
    transition: all 100ms ease-in;
    width: 70%; }
    .contact__button:focus {
      background-color: #b6192e;
      outline: none; }
    @media only screen and (min-width: 28.125em) {
      .contact__button {
        width: 50%; } }

.feature {
  background-color: #d3d3d3ff;
  clip-path: polygon(0 1%, 50% 4%, 100% 1%, 100% 97%, 50% 100%, 0 97%);
  color: #810000;
  padding: 9rem 2.5rem;
  display: grid;
  row-gap: 5rem; }
  @media only screen and (min-width: 28.125em) {
    .feature {
      padding: 9rem 6rem; } }
  @media only screen and (min-width: 37.5em) {
    .feature {
      padding: 9rem 8rem; } }
  @media only screen and (min-width: 43.75em) {
    .feature {
      padding: 9rem 3rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, 30rem);
      column-gap: 4rem;
      row-gap: 3rem;
      justify-content: center; } }
  @media only screen and (min-width: 64.625em) {
    .feature {
      column-gap: 2rem; } }
  .feature__features--1, .feature__features--2, .feature__features--3, .feature__features--4 {
    margin: 0 auto;
    width: 30rem; }
  .feature__shape {
    background-color: #f5f3f4ff;
    box-shadow: 0 0.5rem 1rem rgba(22, 26, 29, 0.3);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    height: 20rem;
    margin: 0 auto;
    width: 20rem;
    position: relative;
    text-align: center;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .feature__shape:not(:last-of-type) {
      margin-bottom: 4rem; }
  .feature__item {
    fill: #da1e37ff;
    height: 10rem;
    width: 10rem; }
  .feature__item--1 {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #b1a7a6ff;
    height: 4rem;
    width: 4rem; }
  .feature__item--2 {
    position: absolute;
    top: 49%;
    left: 55%;
    transform: translate(-50%, -50%);
    fill: #810000;
    height: 6.5rem;
    width: 6.5rem; }
  .feature__item--3 {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    fill: #da1e37ff;
    height: 4rem;
    width: 4rem; }
  .feature__description {
    background-image: linear-gradient(145deg, rgba(218, 30, 55, 0.6), rgba(205, 10, 10, 0.9));
    border-radius: .3rem;
    height: 16.1rem;
    margin: 0 auto;
    max-width: 30rem;
    text-align: center;
    width: 100%; }
    .feature__description:not(:last-of-type) {
      margin-bottom: 4rem; }
  .feature__highlight {
    color: #ffffffff;
    padding: .5rem 1rem 1.5rem; }

.footer {
  background-color: #641220ff;
  clip-path: polygon(0 2%, 50% 6%, 100% 2%, 100% 100%, 0 100%);
  color: #b1a7a6ff;
  padding: 9rem 2.5rem 0; }
  @media only screen and (min-width: 28.125em) {
    .footer {
      padding: 9rem 6rem 0; } }
  @media only screen and (min-width: 37.5em) {
    .footer {
      padding: 9rem 8rem 0; } }
  @media only screen and (min-width: 43.75em) {
    .footer {
      display: flex;
      flex-wrap: wrap;
      padding: 15rem 8rem 0; } }
  @media only screen and (min-width: 56.25em) {
    .footer {
      padding: 15rem 12rem; } }
  .footer__list {
    list-style-type: none; }
    @media only screen and (min-width: 43.75em) {
      .footer__list {
        flex: 0 0 50%; } }
  .footer__item {
    padding: 1.3rem 0; }
    .footer__item:last-of-type {
      margin-bottom: 3rem; }
  .footer__link:link {
    color: #f5f3f4ff;
    display: inline-block;
    text-decoration: none;
    cursor: pointer; }
  .footer__link:visited, .footer__link:active {
    color: #b1a7a6ff; }
  .footer__attribution {
    padding: 1.3rem 0; }
  .footer__attribution .footer__link {
    font-weight: 700; }
  .footer [class="footer__list"]:last-of-type {
    border-top: 1px solid #b1a7a6ff; }
    @media only screen and (min-width: 43.75em) {
      .footer [class="footer__list"]:last-of-type {
        border: none; } }
  .footer__copyright {
    font-size: 1.35rem;
    margin-top: 3rem;
    text-align: center; }
    @media only screen and (min-width: 43.75em) {
      .footer__copyright {
        flex: 0 0 100%; } }

.header {
  background-color: #6e1423ff;
  clip-path: polygon(0 0, 100% 0, 100% 97%, 50% 100%, 0 97%);
  padding: 5rem 2.5rem 0;
  position: relative; }
  @media only screen and (min-width: 28.125em) {
    .header {
      padding: 5rem 6rem 0; } }
  @media only screen and (min-width: 37.5em) {
    .header {
      padding: 5rem 8rem 0; } }
  @media only screen and (min-width: 43.75em) {
    .header {
      padding: 5rem 8rem 0; } }
  @media only screen and (min-width: 56.25em) {
    .header {
      padding: 9rem 12rem; } }
  .header__bg-video {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .15;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: -1; }
  .header__video {
    object-fit: cover;
    height: 100%;
    width: 100%; }
  .header__brand {
    display: inline-block;
    width: 15rem; }
  .header__logo {
    box-shadow: 0 0.3rem 1.5rem rgba(22, 26, 29, 0.5);
    width: 100%;
    max-width: 10rem; }
  .header__content {
    margin-top: 6rem;
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 37.5em) {
      .header__content {
        margin-top: 7rem; } }
    @media only screen and (min-width: 43.75em) {
      .header__content {
        margin-top: 10rem; } }
  .header__paragraph {
    color: #ffffffff;
    font-size: 1.8rem;
    margin: 2rem 0 4rem; }
    @media only screen and (min-width: 28.125em) {
      .header__paragraph {
        margin-bottom: 10rem; } }
    @media only screen and (min-width: 43.75em) {
      .header__paragraph {
        font-size: 2rem;
        letter-spacing: .1rem;
        max-width: 100rem; } }
  .header__chevron {
    fill: #b1a7a6ff;
    height: 9rem;
    width: 9rem;
    align-self: center; }

.navigation {
  position: fixed;
  width: 100%;
  z-index: 100; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #f5f3f4ff;
    box-shadow: 0 0.5rem 1.5rem rgba(211, 211, 211, 0.5);
    border-radius: 50%;
    position: fixed;
    top: 3.5rem;
    right: 1rem;
    width: 5rem;
    height: 5rem;
    z-index: 50; }
  .navigation__ball {
    background-image: radial-gradient(#da1e37ff 45%, #eb8f8f 55%);
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 3.5rem;
    right: 1rem;
    transition: transform .3s ease-out; }
  .navigation__menu {
    opacity: 0;
    position: relative;
    transform: translateX(-100%);
    width: 0; }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    list-style-type: none;
    margin-top: 5rem;
    transform: translate(-250%, 20%);
    transition: transform 400ms ease-out; }
  .navigation__item {
    font-weight: 600;
    letter-spacing: .2rem;
    padding: 2rem; }
  .navigation__link:link {
    color: #ffffffff;
    text-decoration: none; }
  .navigation__link:active, .navigation__link:visited {
    color: #b1a7a6ff; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    background-color: #da1e37ff;
    display: inline-block;
    height: 2px;
    width: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    transition: all .4s ease-out;
    transform-origin: center; }
  .navigation__icon::before {
    top: -.5rem; }
  .navigation__icon::after {
    top: .7rem; }
  .navigation__checkbox:checked ~ .navigation__ball {
    transform: scale(50); }
  .navigation__checkbox:checked ~ .navigation__menu {
    opacity: 1;
    transform: translateX(0);
    width: 100%;
    z-index: 100; }
  .navigation__checkbox:checked ~ .navigation__menu > .navigation__list {
    transform: translate(-50%, 20%); }
  .navigation__checkbox:checked ~ .navigation__menu > .navigation__socials {
    transform: translate(-50%, 0); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon:before {
    top: 0;
    left: 0;
    transform: rotate(-135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon:after {
    top: 0;
    left: 0;
    transform: rotate(135deg); }
  .navigation__socials {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    margin-top: 50rem;
    text-align: center;
    transform: translate(-150%, 0);
    transition: transform 400ms ease-out;
    width: 70%; }
  .navigation__social-text {
    color: #b1a7a6ff;
    margin: 0 auto; }
  .navigation__social-text {
    padding: 2rem 0;
    border-top: 1px solid #b1a7a6ff;
    text-align: center; }
  .navigation__social-icon {
    display: inline-block;
    padding: 1rem 1.5rem; }
    @media only screen and (min-width: 28.125em) {
      .navigation__social-icon {
        padding: 1rem 2.5rem; } }
  .navigation__social-link:link, .navigation__social-link:active, .navigation__social-link:visited {
    text-decoration: none; }
  .navigation__social-brand {
    fill: #b1a7a6ff;
    height: 2rem;
    width: 2rem; }

.testimonial {
  background-color: #641220ff;
  clip-path: polygon(0 1%, 50% 4%, 100% 1%, 100% 97%, 50% 100%, 0 97%);
  padding: 9rem 2.5rem; }
  @media only screen and (min-width: 28.125em) {
    .testimonial {
      padding: 9rem 6rem; } }
  @media only screen and (min-width: 37.5em) {
    .testimonial {
      padding: 9rem 8rem; } }
  .testimonial__container {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    max-width: 65rem;
    padding: 6rem 0; }
  .testimonial__customer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start; }
    .testimonial__customer:not(:last-of-type) {
      margin-bottom: 8rem; }
  .testimonial__info {
    display: flex;
    align-items: center; }
  .testimonial__info--1 {
    display: flex;
    flex-flow: row-reverse; }
  .testimonial__icon {
    fill: #ffffffff;
    height: 9rem;
    width: 9rem; }
  .testimonial__profile {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start; }
  .testimonial__profile--1 {
    align-items: flex-end; }
  .testimonial__description {
    color: #f1f3de;
    font-size: 1.2rem; }
  .testimonial__review {
    color: #ffffffff;
    font-size: 1.6rem;
    margin-top: 1rem; }
