/* light shades */
/* red shades */
/* black shades */
:root {
  color: #f5f3f4ff;
  font-size: 62.5%;
  --text: 'Commissioner', sans-serif;
  --heading: 'Petrona', serif; }

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #eb8f8f;
  font-family: var(--text);
  font-size: 1.7rem;
  font-weight: 200;
  line-height: 1.5; }

.container {
  display: grid;
  grid-template-rows: 70vh repeat(4, minmax(min-content, max-content));
  row-gap: 2rem; }

.heading, .heading-primary, .heading-secondary, .heading-tertiary {
  color: #f5f3f4ff;
  font-family: var(--heading);
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase; }

.heading-primary {
  font-size: 4.5rem; }

.heading-secondary {
  font-size: 2.3rem;
  padding-top: 1rem; }

.heading-tertiary {
  text-transform: capitalize; }

.m {
  margin: 1rem; }

.mt {
  margin-top: 3rem; }

.mb {
  margin-bottom: 3rem; }

.gallery {
  background-color: #641220ff;
  display: grid;
  width: 60vw;
  height: 40vh; }
  .gallery__photo {
    width: 100%; }

.contact {
  background-color: #d3d3d3ff;
  clip-path: polygon(0 2%, 50% 5%, 100% 2%, 100% 97%, 50% 100%, 0 97%);
  padding: 6rem 2.5rem; }
  .contact__form {
    background-color: #eb8f8f;
    border-radius: .3rem;
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 3rem 1.2rem;
    position: relative; }
  .contact__label {
    color: #ffffffff;
    display: inline-block;
    padding: 1rem 0;
    width: 100%; }
  .contact__input {
    background-color: #f1f3de;
    border: 1px solid #660708ff;
    border-radius: .4rem;
    display: block;
    font-family: inherit;
    margin-top: .4rem;
    padding: .4rem 1.2rem;
    width: 100%; }
  .contact__textarea {
    background-color: #f1f3de;
    border: 1px solid #660708ff;
    border-radius: .4rem;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    padding: .4rem 1.2rem;
    margin-bottom: 1.5rem;
    margin-top: .4rem;
    width: 100%; }
  .contact__input:focus, .contact__textarea:focus {
    background-color: #d3d3d3ff;
    outline: none; }
  .contact__button {
    background-color: #810000;
    border: none;
    border-radius: 50rem;
    color: #f5f3f4ff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.7rem;
    padding: 1.3rem 2rem;
    margin: 0 auto;
    width: 70%; }
    .contact__button:focus {
      background-color: #cd0a0a;
      outline: none; }

.feature {
  background-color: #d3d3d3ff;
  clip-path: polygon(0 0, 50% 1.5%, 100% 0, 100% 99%, 50% 100%, 0 99%);
  color: #810000;
  padding: 8rem 2.5rem; }
  .feature__shape {
    background-color: #f5f3f4ff;
    box-shadow: 0 0.5rem 1rem rgba(22, 26, 29, 0.3);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    height: 20rem;
    margin: 0 auto;
    width: 20rem;
    position: relative;
    text-align: center;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .feature__shape:not(:last-of-type) {
      margin-bottom: 4rem; }
  .feature__item {
    fill: #da1e37ff;
    height: 10rem;
    width: 10rem; }
  .feature__item--1 {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #b1a7a6ff;
    height: 4rem;
    width: 4rem; }
  .feature__item--2 {
    position: absolute;
    top: 49%;
    left: 55%;
    transform: translate(-50%, -50%);
    fill: #810000;
    height: 6.5rem;
    width: 6.5rem; }
  .feature__item--3 {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    fill: #da1e37ff;
    height: 4rem;
    width: 4rem; }
  .feature__description {
    background-image: linear-gradient(145deg, rgba(218, 30, 55, 0.6), rgba(205, 10, 10, 0.9));
    border-radius: .3rem;
    text-align: center;
    width: 100%; }
    .feature__description:not(:last-of-type) {
      margin-bottom: 4rem; }
  .feature__highlight {
    color: #ffffffff;
    padding: .5rem 1rem 1.5rem; }

.footer {
  background-color: #641220ff;
  clip-path: polygon(0 2%, 50% 6%, 100% 2%, 100% 100%, 0 100%);
  color: #b1a7a6ff;
  padding: 6rem 2.5rem 0; }
  .footer__list {
    list-style-type: none; }
  .footer__item {
    padding: 1.3rem 0; }
    .footer__item:last-of-type {
      margin-bottom: 3rem; }
  .footer__link:link {
    color: #f5f3f4ff;
    display: inline-block;
    text-decoration: none;
    cursor: pointer; }
  .footer__link:visited, .footer__link:active {
    color: #b1a7a6ff; }
  .footer__attribution {
    padding: 1.3rem 0; }
    .footer__attribution:first-of-type {
      margin-top: 3rem; }
  .footer__copyright {
    font-size: 1.35rem;
    margin-top: 3rem;
    text-align: center; }

.header {
  background-color: #6e1423ff;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
  padding: 2.8rem 2.5rem 4rem;
  position: relative; }
  .header__bg-video {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .15;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: -1; }
  .header__video {
    object-fit: cover;
    height: 100%;
    width: 100%; }
  .header__brand {
    display: inline-block;
    width: 15rem; }
  .header__logo {
    box-shadow: 0 0.3rem 1.5rem rgba(22, 26, 29, 0.5);
    width: 100%;
    max-width: 10rem; }
  .header__content {
    margin-top: 6rem;
    display: flex;
    flex-direction: column; }
  .header__paragraph {
    color: #ffffffff;
    font-size: 1.8rem;
    margin: 2rem 0 4rem; }
  .header__chevron {
    fill: #b1a7a6ff;
    height: 9rem;
    width: 9rem;
    align-self: center; }

.navigation {
  position: fixed;
  width: 100%;
  z-index: 100; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #f5f3f4ff;
    box-shadow: 0 0.5rem 1.5rem rgba(211, 211, 211, 0.5);
    border-radius: 50%;
    position: fixed;
    top: 1.2rem;
    right: 1rem;
    width: 5rem;
    height: 5rem;
    z-index: 50; }
  .navigation__ball {
    background-image: radial-gradient(#da1e37ff 45%, #eb8f8f 55%);
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 1.2rem;
    right: 1rem;
    transition: transform .3s ease-out; }
  .navigation__menu {
    opacity: 0;
    position: relative;
    width: 0; }
  .navigation__list {
    font-size: 2rem;
    list-style-type: none;
    margin-top: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    transition: transform .4s ease-out 1s; }
  .navigation__item {
    font-weight: 600;
    letter-spacing: .2rem;
    padding: 2rem; }
  .navigation__link:link {
    color: #ffffffff;
    text-decoration: none; }
  .navigation__link:active, .navigation__link:visited {
    color: #b1a7a6ff; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    background-color: #da1e37ff;
    display: inline-block;
    height: 2px;
    width: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    transition: all .4s ease-out;
    transform-origin: center; }
  .navigation__icon::before {
    top: -.5rem; }
  .navigation__icon::after {
    top: .7rem; }
  .navigation__checkbox:checked ~ .navigation__ball {
    transform: scale(50); }
  .navigation__checkbox:checked ~ .navigation__menu {
    opacity: 1;
    width: 100%;
    z-index: 100; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon:before {
    top: 0;
    left: 0;
    transform: rotate(-135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon:after {
    top: 0;
    left: 0;
    transform: rotate(135deg); }
  .navigation__socials {
    list-style-type: none;
    position: absolute;
    top: 50rem;
    left: 5rem; }
  .navigation hr, .navigation__social-text {
    color: #b1a7a6ff; }
  .navigation__social-text {
    padding: 2rem 0;
    text-align: center; }
  .navigation__social-icon {
    display: inline-block;
    padding: 1rem 2.3rem; }
  .navigation__social-link:link, .navigation__social-link:active, .navigation__social-link:visited {
    text-decoration: none; }
  .navigation__social-brand {
    fill: #b1a7a6ff;
    height: 2rem;
    width: 2rem; }

.testimonial {
  background-color: #641220ff;
  clip-path: polygon(0 0, 50% 3%, 100% 0, 100% 95%, 50% 100%, 0 95%);
  padding: 6rem 2.5rem; }
  .testimonial__container {
    display: flex;
    flex-flow: column nowrap;
    padding: 6rem 0; }
  .testimonial__customer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start; }
    .testimonial__customer:not(:last-of-type) {
      margin-bottom: 5rem; }
  .testimonial__info {
    display: flex;
    align-items: center; }
  .testimonial__info--1 {
    display: flex;
    flex-flow: row-reverse; }
  .testimonial__icon {
    fill: #ffffffff;
    height: 9rem;
    width: 9rem;
    margin-right: 1rem; }
  .testimonial__description {
    color: #f1f3de;
    font-size: 1.2rem; }
  .testimonial__review {
    color: #ffffffff;
    font-size: 1.4rem;
    margin-top: 1rem; }
