/* SCSS COLOR */
/* SCSS HEX */
/* SCSS HEX */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:root {
  color: #f5f3f4ff;
  font-size: 62.5%;
  --text: 'Commissioner', sans-serif;
  --heading: 'Petrona', serif; }

body {
  font-family: var(--text);
  font-size: 1.7rem;
  font-weight: 200;
  line-height: 1.5; }

.container {
  display: grid;
  grid-template-rows: 70vh repeat(2, minmax(min-content, max-content)); }

.heading-primary {
  color: #b1a7a6ff;
  font-family: var(--heading);
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.3; }

.m {
  margin: 1rem; }

.mt {
  margin-top: 3rem; }

.mb {
  margin-bottom: 3rem; }

.gallery {
  background-color: #a4161aff;
  display: grid;
  width: 60vw;
  height: 40vh; }
  .gallery__photo {
    width: 100%; }

.footer {
  background-color: #641220ff; }

.header {
  background-color: #6e1423ff;
  padding: 2.8rem 4rem 4rem; }
  .header__brand {
    display: inline-block;
    width: 15rem; }
  .header__logo {
    box-shadow: 0 0.5rem 1.5rem rgba(236, 1, 1, 0.5);
    width: 100%;
    max-width: 10rem; }
  .header__content {
    margin-top: 6rem; }
  .header__paragraph {
    color: #d3d3d3ff;
    margin-top: 2rem; }

.feature {
  background-color: #d3d3d3ff;
  color: #810000;
  padding: 6rem 4rem; }
  .feature__shape {
    background-color: #f5f3f4ff;
    box-shadow: 0 0.5rem 1rem rgba(22, 26, 29, 0.3);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    height: 25rem;
    margin: 0 auto;
    width: 25rem;
    position: relative;
    z-index: 0; }
    .feature__shape:not(:last-of-type) {
      margin-bottom: 2rem; }
  .feature__description {
    text-align: center; }
    .feature__description:not(:last-of-type) {
      margin-bottom: 4rem; }

.navigation {
  position: fixed;
  width: 100%;
  z-index: 100; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #f5f3f4ff;
    box-shadow: 0 0.5rem 1.5rem rgba(211, 211, 211, 0.5);
    border-radius: 50%;
    position: fixed;
    top: 1.2rem;
    right: 1rem;
    width: 5rem;
    height: 5rem;
    z-index: 50; }
  .navigation__ball {
    background-image: radial-gradient(#810000, #cd0a0a);
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 1.2rem;
    right: 1rem;
    transition: transform .3s ease-out; }
  .navigation__menu {
    opacity: 0;
    position: relative;
    width: 0; }
  .navigation__list {
    font-size: 2rem;
    list-style-type: none;
    margin-top: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    transition: transform .4s ease-out 1s; }
  .navigation__item {
    font-weight: 600;
    letter-spacing: .3rem;
    padding: 2rem; }
  .navigation__link:link {
    color: #ffffffff;
    text-decoration: none; }
  .navigation__link:active, .navigation__link:visited {
    color: #b1a7a6ff; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    background-color: #810000;
    display: inline-block;
    height: 2px;
    width: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    transition: all .4s ease-out;
    transform-origin: center; }
  .navigation__icon::before {
    top: -.5rem; }
  .navigation__icon::after {
    top: .7rem; }
  .navigation__checkbox:checked ~ .navigation__ball {
    transform: scale(50); }
  .navigation__checkbox:checked ~ .navigation__menu {
    opacity: 1;
    width: 100%;
    z-index: 100; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon:before {
    top: 0;
    left: 0;
    transform: rotate(-135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon:after {
    top: 0;
    left: 0;
    transform: rotate(135deg); }
  .navigation__socials {
    list-style-type: none;
    position: absolute;
    top: 50rem;
    left: 5rem; }
  .navigation hr {
    color: #b1a7a6ff; }
  .navigation__social-text {
    color: #f5f3f4ff;
    padding: 2rem 0;
    text-align: center; }
  .navigation__social-icon {
    display: inline-block;
    padding: 1rem 2.3rem; }
  .navigation__social-link:link, .navigation__social-link:active, .navigation__social-link:visited {
    text-decoration: none; }
  .navigation__social-brand {
    fill: #b1a7a6ff;
    height: 2rem;
    width: 2rem; }
