.contact {
    background-color: $light-gray;
    clip-path: polygon(0 0, 50% 3.5%, 100% 0, 100% 97%, 50% 100%, 0 97%);
    padding: 9rem 2.5rem;

    &__form {
        background-color: $persian-plum;
        border-radius: .3rem;
        display: block;
        font-size: 1.6rem;
        font-weight: 600;
        padding: 3rem 1.2rem;
        position: relative;
    }

    &__label {
        color: $white;
        display: inline-block;
        padding: 1rem 1.2rem;
        width: 100%;
        transition: all 300ms ease-out;
    }

    &__input:placeholder-shown + label,
    &__textarea:placeholder-shown + label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__input,
    &__textarea {
        background-color: $grey;
        border: none;
        border-radius: .4rem;
        display: inline-block;
        font-family: inherit;
        font-size: inherit;
        margin-top: .4rem;
        padding: 1.2rem;
        width: 100%;
    }

    &__textarea {
        margin-bottom: 1.5rem;
    }

    &__input:focus,
    &__textarea:focus {
        background-color: $cultured;
        border: 1.4px solid $valid-green;
        outline: none;
    }

    &__input::placeholder,
    &__textarea::placeholder {
        color: $red-primary;
    }

    &__input:invalid,
    &__textarea:invalid {
        border: .5px solid $red-light;
    }

    &__button {
        background-color: $crimson;
        border: none;
        border-radius: 50rem;
        box-shadow: 0 .7rem 1rem rgba($eerie-black, .5);
        color: $cultured;
        cursor: pointer;
        display: inline-block;
        font-size: 1.7rem;
        padding: 1.3rem 2rem;
        margin: 0 auto;
        transition: all 100ms ease-in;
        width: 70%;

        &:focus {
            background-color: darken($crimson, 8%);
            outline: none;
        }
    }
}