.contact {
    background-color: $light-gray;
    clip-path: polygon(0 1%, 50% 3.5%, 100% 1%, 100% 97%, 50% 100%, 0 97%);
    padding: 6rem 2.5rem;

    &__form {
        background-color: $red-light;
        border-radius: .3rem;
        display: block;
        font-size: 1.6rem;
        font-weight: 600;
        padding: 3rem 1.2rem;
        position: relative;
    }

    &__label {
        color: $white;
        display: inline-block;
        padding: 1rem 0;
        width: 100%;
    }

    &__input,
    &__textarea {
        background-color: $grey;
        border: none;
        border-radius: .4rem;
        display: inline-block;
        font-family: inherit;
        font-size: inherit;
        margin-top: .4rem;
        padding: 1.2rem;
        transition: border 200ms ease, background-color 200ms ease;
        width: 100%;
    }

    &__textarea {
        margin-bottom: 1.5rem;
    }

    &__input:focus,
    &__textarea:focus {
        background-color: $light-gray;
        border: 1.5px solid $blood-red;
        outline: none;
    }

    &__button {
        background-color: $red-deep;
        border: none;
        border-radius: 50rem;
        box-shadow: 0 .7rem 1rem rgba($eerie-black, .5);
        color: $cultured;
        cursor: pointer;
        display: inline-block;
        font-size: 1.7rem;
        padding: 1.3rem 2rem;
        margin: 0 auto;
        transform: translateY(-.5rem);
        transition: all 100ms ease-in;
        width: 70%;

        &:focus {
            background-color: lighten($red-deep, 8%);
            outline: none;
            transform: translateY(-.2rem);
        }
    }
}