.contact {
    background-color: $light-gray;
    clip-path: polygon(0 0, 50% 3%, 100% 0, 100% 97%, 50% 100%, 0 97%);
    padding: 8rem 2.5rem;

    &__form {
        background-color: $red-light;
        border-radius: .3rem;
        display: block;
        font-size: 1.6rem;
        font-weight: 600;
        padding: 3rem 1.2rem;
        position: relative;
    }

    &__label {
        color: $white;
        display: inline-block;
        padding: 1rem 0;
        width: 100%;
    }

    &__input,
    &__textarea {
        background-color: $grey;
        border: 1px solid $blood-red;
        border-radius: .4rem;
        display: inline-block;
        font-family: inherit;
        font-size: inherit;
        margin-top: .4rem;
        padding: 1.2rem;
        width: 100%;
    }

    &__textarea {
        margin-bottom: 1.5rem;
    }

    &__input:focus,
    &__textarea:focus {
        background-color: $light-gray;
        outline: none;
    }

    &__button {
        background-color: $red-deep;
        border: none;
        border-radius: 50rem;
        color: $cultured;
        cursor: pointer;
        display: inline-block;
        font-size: 1.7rem;
        padding: 1.3rem 2rem;
        margin: 0 auto;
        width: 70%;

        &:focus {
            background-color: $red-dark;
            outline: none;
        }
    }
}