.feature {
    background-color: $light-gray;
    clip-path: polygon(0 0, 50% 3%, 100% 0, 100% 97%, 50% 100%, 0 97%);
    color: $red-dark-secondary;
    padding: 6rem 2.5rem;

    &__shape {
        background-color: $cultured;
        box-shadow: 0 .5rem 1rem rgba($eerie-black, .3);
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        height: 20rem;
        margin: 0 auto;
        width: 20rem;
        position: relative;
        z-index: 0;

        &:not(:last-of-type) {
            margin-bottom: 2rem;
        }
    }

    &__description {
        text-align: center;

        &:not(:last-of-type) {
            margin-bottom: 4rem;
        }
    }
}