.feature {
    background-color: $light-gray;
    clip-path: polygon(0 1%, 50% 2%, 100% 1%, 100% 98.5%, 50% 100%, 0 98.5%);
    color: $red-deep;
    padding: 9rem 2.5rem;

    display: grid;
    row-gap: 5rem;

    @include breakpoint(28.125em) {
        padding: 3rem 6rem;
    }

    @include breakpoint(37.5em) {
        padding: 9rem 8rem;
    }

    @include breakpoint(43.75em) {
        padding: 9rem 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, 30rem);
        column-gap: 4rem;
        row-gap: 3rem;
        justify-content: center;
    }

    @include breakpoint(64.625em) {
        column-gap: 2rem;
    }

    &__features--1,
    &__features--2,
    &__features--3,
    &__features--4 {
        box-shadow: 0 1rem 1.5rem rgba($eerie-black, .3);
        margin: 0 auto;
        width: 30rem;
    }

    &__shape {
        background-color: $cultured;
        box-shadow: 0 .5rem 1rem rgba($eerie-black, .3);
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        height: 20rem;
        margin: 0 auto;
        width: 20rem;
        position: relative;
        text-align: center;
        z-index: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        &:not(:last-of-type) {
            margin-bottom: 4rem;
        }
    }

    &__item {
        fill: $crimson;
        height: 10rem;
        width: 10rem;
    }

    &__item--1 {
        position: absolute;
        top: 26%;
        left: 50%;
        transform: translate(-50%, -50%);

        fill: $silver-chalice;
        height: 4rem;
        width: 4rem;
    }

    &__item--2 {
        position: absolute;
        top: 49%;
        left: 55%;
        transform: translate(-50%, -50%);

        fill: $red-deep;
        height: 6.5rem;
        width: 6.5rem;
    }

    &__item--3 {
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);

        fill: $crimson;
        height: 4rem;
        width: 4rem;
    }

    &__description {
        background-image: linear-gradient(145deg, rgba($crimson, .6), rgba($red-dark, .9));
        border-radius: .3rem;
        height: 16.1rem;
        margin: 0 auto;
        max-width: 30rem;
        text-align: center;
        width: 100%;

        &:not(:last-of-type) {
            margin-bottom: 4rem;
        }
    }

    &__highlight {
        color: $white;
        padding: .5rem 1rem 1.5rem;
    }
}