.footer {
    background-color: $persian-plum;
    clip-path: polygon(0 2%, 50% 6%, 100% 2%, 100% 100%, 0 100%);
    color: $silver-chalice;
    padding: 9rem 2.5rem 0;

    @include breakpoint(28.125em) {
        padding: 9rem 6rem 0;
    }

    @include breakpoint(37.5em) {
        padding: 9rem 8rem 0;
    }

    @include breakpoint(43.75em) {
        display: flex;
        flex-wrap: wrap;
    }

    &__list {
        list-style-type: none;

        @include breakpoint(43.75em) {
            flex: 0 0 50%;
        }
    }

    &__item {
        padding: 1.3rem 0;

        &:last-of-type {
            margin-bottom: 3rem;
        }
    }

    &__link {
        &:link {
            color: $cultured;
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
        }

        &:visited,
        &:active {
            color: $silver-chalice;
        }
    }

    &__attribution {
        padding: 1.3rem 0;
    }

    &__attribution &__link {
        font-weight: 700;
    }

    [class="footer__list"]:last-of-type {
        border-top: 1px solid $silver-chalice;

        @include breakpoint(43.75em) {
            border: none;
        }
    }

    &__copyright {
        font-size: 1.35rem;
        margin-top: 3rem;
        text-align: center;

        @include breakpoint(43.75em) {
            flex: 0 0 100%;
        }
    }

}