.header {
    background-color: $burgundy;
    padding: 2.8rem 4rem 4rem;

    &__brand {
        display: inline-block;
        width: 15rem;
    }
    
    &__logo {
        box-shadow: 0 .5rem 1.5rem rgba($red-primary, .5);
        width: 100%;
        max-width: 10rem;
    }

    &__content {
        margin-top: 6rem;
    }

    &__paragraph {
        color: $light-gray;
        margin-top: 2rem;
    }
}