.header {
    background-color: $burgundy;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
    padding: 2.8rem 2.5rem 4rem;
    position: relative;

        &__bg-video {
            position: absolute;
            top: 0;
            left: 0;
            opacity: .15;
            overflow: hidden;
            height: 100%;
            width: 100%;
            z-index: -1;
        }

        &__video {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

    &__brand {
        display: inline-block;
        width: 15rem;
    }

    &__logo {
        box-shadow: 0 .3rem 1.5rem rgba($eerie-black, .5);
        width: 100%;
        max-width: 10rem;
    }

    &__content {
        margin-top: 6rem;

        display: flex;
        flex-direction: column;
    }

    &__paragraph {
        color: $white;
        font-size: 1.8rem;
        margin: 2rem 0 4rem;
    }
    
    &__chevron {
        fill: $silver-chalice;
        height: 9rem;
        width: 9rem;

        align-self: center;
    }
}