.navigation {
    position: fixed;
    width: 100%;
    z-index: 100;

    @include breakpoint(43.75em) {
        background-color: $red-light;
        height: 6rem;
    }

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $cultured;
        box-shadow: 0 .5rem 1.5rem rgba($light-gray, .5);
        border-radius: 50%;
        position: fixed;
        top: 3.5rem;
        right: 1rem;
        width: 5rem;
        height: 5rem;
        z-index: 50;

        @include breakpoint(43.75em) {
            display: none;
        }
    }

    &__ball {
        background-image: radial-gradient($crimson 45%, $red-light 55%);
        border-radius: 50%;
        height: 5rem;
        width: 5rem;
        position: fixed;
        top: 3.5rem;
        right: 1rem;
        transition: transform .3s ease-out;

        @include breakpoint(43.75em) {
            display: none;
        }
    }

    &__menu {
        opacity: 0;
        position: relative;
        transform: translateX(-100%);
        width: 0;

        @include breakpoint(43.75em) {
            display: flex;
          opacity: 1;
          position: static;
          transform: translateX(0);
          width: 100%;
        }
    }

    &__list {
        @include positioned;
        font-size: 2rem;
        list-style-type: none;
        margin-top: 5rem;
        transform: translate(-250%, 20%);
        transition: transform 400ms ease-out;

        @include breakpoint(43.75em) {
            display: block;
            margin-top: 0;
            position: static;
            transform: translate(0, 0);
            width: 50%;
        }
    }

    &__item {
        font-weight: 600;
        letter-spacing: .2rem;
        padding: 2rem;

        @include breakpoint(43.75em) {
            display: inline-block;
        }
    }

    &__link {
        &:link {
            color: $white;
            text-decoration: none;

            @include breakpoint(43.75em) {
                color: $blood-red;
            }
        }

        &:active,
        &:visited {
            color: $silver-chalice;

            @include breakpoint(43.75em) {
                color: $grey;
            }
        }
    }

    &__icon {

        &,
        &::after,
        &::before {
            background-color: $crimson;
            display: inline-block;
            height: 2px;
            width: 3rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 100;

            @include breakpoint(43.75em) {
                display: none;
            }
        }

        &::after,
        &::before {
            content: "";
            position: absolute;
            transition: all .4s ease-out;
            transform-origin: center;

            @include breakpoint(43.75em) {
                display: none;
            }
        }

        &::before {
            top: -.5rem;
        }

        &::after {
            top: .7rem;
        }
    }

    //navigation button onclick behaviour

    &__checkbox:checked~&__ball {
        transform: scale(50);

        @include breakpoint(43.75em) {
            display: none;
        }
    }

    &__checkbox:checked~&__menu {
        opacity: 1;
        transform: translateX(0);
        width: 100%;
        z-index: 100;

        @include breakpoint(43.75em) {
            display: none;
        }
    }

    &__checkbox:checked~&__menu>&__list {
        transform: translate(-50%, 20%);

        @include breakpoint(43.75em) {
            display: none;
        }
    }

    &__checkbox:checked~&__menu>&__socials {
        transform: translate(-50%, 0);

        @include breakpoint(43.75em) {
            display: none;
        }
    }

    &__checkbox:checked+&__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked+&__button &__icon:before {
        top: 0;
        left: 0;
        transform: rotate(-135deg);
    }

    &__checkbox:checked+&__button &__icon:after {
        top: 0;
        left: 0;
        transform: rotate(135deg);
    }

    &__socials {
        @include positioned;
        list-style-type: none;
        margin-top: 50rem;
        text-align: center;
        transform: translate(-150%, 0);
        transition: transform 400ms ease-out;
        width: 70%;

        @include breakpoint(43.75em) {
            margin-top: 0;
            position: static;
            transform: translate(0, 0);
            width: 40%;
        }
    }

    &__social-text {
        color: $silver-chalice;
        margin: 0 auto;
    }

    &__social-text {
        padding: 2rem 0;
        border-top: 1px solid $silver-chalice;
        text-align: center;

        @include breakpoint(43.75em) {
            border: none;
        }
    }

    &__social-icon {
        display: inline-block;
        padding: 1rem 1.5rem;

        @include breakpoint(28.125em) {
            padding: 1rem 2.5rem;
        }
    }

    &__social-link {

        &:link,
        &:active,
        &:visited {
            text-decoration: none;
        }
    }

    &__social-brand {
        fill: $silver-chalice;
        height: 2rem;
        width: 2rem;
    }
}