.contact {
	background-color: $light-gray;
	clip-path: polygon(0 0, 50% 3.5%, 100% 0, 100% 98%, 50% 100%, 0 98%);
	padding: 9rem 2.5rem;

	@include breakpoint(28.125em) {
		padding: 9rem 6rem;
	}

	@include breakpoint(37.5em) {
		padding: 9rem 8rem;
	}

	&__form {
		background-color: $persian-plum;
		border-radius: 0.3rem;
		box-shadow: 0.5rem 1.5rem 2rem rgba($eerie-black, 0.3);
		display: block;
		font-size: 1.6rem;
		font-weight: 600;
		margin: 0 auto;
		max-width: 65rem;
		padding: 3rem 1.2rem;
		position: relative;
	}

	&__label {
		color: $white;
		display: inline-block;
		padding: 0 1.2rem 1rem;
		width: 100%;
		transition: all 300ms ease-out;
	}

	&__input,
	&__textarea {
		background-color: $grey;
		border: none;
		border-radius: 0.4rem;
		display: inline-block;
		font-family: inherit;
		font-size: inherit;
		margin-bottom: 0.8rem;
		padding: 1.2rem;
		width: 100%;
	}

	&__textarea {
		margin-bottom: 1.5rem;
	}

	&__input:focus,
	&__textarea:focus {
		background-color: $cultured;
		border: 1.8px solid $valid-green;
		outline: none;
	}

	&__input::placeholder,
	&__textarea::placeholder {
		color: $red-primary;
	}

	//Solution pending
	&__input:placeholder-shown.animate-label,
	&__textarea:placeholder-shown.animate-label {
		opacity: 0;
		transform: translateY(5rem);
	}

	&__input:invalid,
	&__textarea:invalid {
		border: 0.5px solid $red-light;
	}

	&__button {
		background-color: $crimson;
		border: none;
		border-radius: 50rem;
		box-shadow: 0 0.7rem 1rem rgba($eerie-black, 0.5);
		color: $cultured;
		cursor: pointer;
		display: inline-block;
		font-size: 1.7rem;
		padding: 1.3rem 2rem;
		margin: 0 auto;
		transition: all 100ms ease-in;
		width: 70%;

		&:focus {
			background-color: darken($crimson, 8%);
			outline: none;
		}

		@include breakpoint(28.125em) {
			width: 50%;
		}
	}
}
