/* SCSS COLOR */
$grey: #f1f3de;
$red-light: #eb8f8f;
$red-primary: #ec0101;
$red-primary-secondary: #fa1616;
$red-dark: #cd0a0a;
$red-dark-secondary: #810000;


/* SCSS HEX */
$rich-black-fogra-39: #0b090aff;
$eerie-black: #161a1dff;
$blood-red: #660708ff;
$ruby-red: #a4161aff;
$carnelian: #ba181bff;
$imperial-red: #e5383bff;
$silver-chalice: #b1a7a6ff;
$light-gray: #d3d3d3ff;
$cultured: #f5f3f4ff;
$white: #ffffffff;


/* SCSS HEX */
$persian-plum: #641220ff;
$burgundy: #6e1423ff;
$antique-ruby: #85182aff;
$crimson-ua: #a11d33ff;
$crimson-ua-2: #a71e34ff;
$red-ncs: #b21e35ff;
$red-ncs-2: #bd1f36ff;
$cardinal: #c71f37ff;
$crimson: #da1e37ff;
$rose-madder: #e01e37ff;
