*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    color: $cultured;
    font-size: 62.5%;
    --text: 'Commissioner', sans-serif;
    --heading: 'Petrona', serif;
}

body {
    font-family: var(--text);
    font-size: 1.7rem;
    font-weight: 200;
    line-height: 1.5;
}

.container {
    display: grid;
    grid-template-rows: 70vh repeat(2, minmax(min-content, max-content));
}