.heading-primary {
    color: $silver-chalice;
    font-family: var(--heading);
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
}

.heading-secondary {
    color: $cultured;
    font-family: var(--heading);
    font-size: 2.3rem;
    font-weight: 700;
    text-transform: uppercase;
}