.blog 
    background-color: $persian-plum
    clip-path: polygon(0 0, 100% 0, 100% 97%, 50% 100%, 0 97%)
    padding: 9rem 2.5rem
    text-align: center

    @include breakpoint(28.125em) 
        padding: 9rem 10rem
    
    @include breakpoint(37.5em) 
        padding: 9rem 8rem
    
    &__container 
        margin: 0 auto
    
    &__heading 
        font-size: 3rem
         margin-top: 7rem

          @include breakpoint(37.5em) 
              font-size: 5rem
        
    &__icon 
        fill: $crimson
        height: 25rem
        margin-top: 7rem
        width: 25rem