@import "../abstract/variables";
@import "../abstract/mixins";

:root {
    color: $cultured;
    font-size: 62.5%;
    --text: 'Commissioner', sans-serif;
    --heading: 'Petrona', serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $red-light;
    font-family: var(--text);
    font-size: 1.7rem;
    font-weight: 200;
    line-height: 1.5;
}

.container {
    display: grid;
    grid-template-rows: 7rem 90vh repeat(4, max-content);

     @include breakpoint(37.5em) {
         grid-template-rows: 7rem 70vh repeat(4, max-content);
     }

     @include breakpoint(43.75em) {
         grid-template-rows: 70vh repeat(4, max-content);
     }

     @include breakpoint(56.25em) {
         grid-template-rows: 100vh repeat(4, max-content);
     }
}

::selection {
    background-color: $crimson;
}
